* {
    box-sizing: border-box;
    margin:0px;   
  //  border:1px solid red;
  
}
body {
    overflow-x: hidden;
}



/**************************************************************************header****************************************************************************/
.header { 
    position: relative;
    border:1px solid transparent;
   // border:1px solid red;
    background-image: url(header.jpg);   
    background-position: 70%;     
    background-size: 30%;
    background-repeat: no-repeat;
    height: 40%;
}

.logo {  
    margin:4.5% 0 3% 15%;
    cursor: pointer;
  //  border:1px solid blue;
    width:50%;
    padding:1%;
    color:rgb(0, 0, 0);
    text-align:center;
}
.header p {
    color:rgb(22, 21, 19);
    font-size: 5vw;
    font-weight: 900;
   
    font-family: webLogo;
}
@font-face {
    font-family: webLogo;
    src: url(GreatVibes-Regular.ttf);
}
.nav {
   // border:1px solid greenyellow;
    width:100%;
    background-image: url(paws.png);
    background-size:3%;
    background-repeat: repeat-x;
    background-position-y: 85%;
    position: relative;
}
.nav li {
    float:left;
    margin-left:1%;
    border-top:0.1vw solid rgb(199, 196, 196);
    border-bottom: 0.1vw solid rgb(199, 196, 196);
    padding:0.6%;
    list-style: none;
    background-color: transparent;
    width:10%;
    text-align: center;
  
}
.nav ul {
    padding:0;
}
.menu {     
    left:-3%;
   
}
#logIn {
    float:right; 
}
#hello {
    margin-right:0.5%;
    font-size:1vw;
    padding:1%;
    width: 30%;
    text-align: right;
  // border:1px solid red;
    position:absolute;
    top: -40%;
    right: 0px;
    color: brown;
}
#form {
    position:absolute;
    float:left;
  //  border:0.2vw solid purple;
}
#search {
    
   
    border: 0.1vw solid grey;
    visibility: hidden;
    background-image: url('searchicon.png');   
    background-repeat: no-repeat;
    padding-left: 18%;
    width:0;  
    
}
#hintsContainer {
    background-color: white;
    visibility: hidden;
 //   border: 0.1vw solid grey;
    position: absolute;
    left:0px;
    width:15vw;
    height: 100%;
}
.hint {  
    height: 100%;
    cursor:pointer;  
    padding: 4% 0 0.5% 18%;
    background-color: white;
    color:black;  
    border: 0.1vw solid rgb(199, 196, 196);
}
.hint:hover {
    background-color: rgb(231, 231, 231);
    
}
/**************************************************************************header****************************************************************************/

/**************************************************************************left column****************************************************************************/
.leftColumn {
    
    float:left;
    width:15%;
   // border:1px solid rgb(128, 0, 70);
  }
  
th {
 
    font-size:1.2vw;
    text-align:center;
    width:15%;
    padding:10%;
    padding-left: 18%;
    background-image: url(bone.jpg);
    background-size:100%;
    background-repeat: no-repeat;
    background-position-y: 40%; 
    background-position-x: 0.3vw;
}
td {
  //  border:1px solid blue;
    font-size:1vw;
    padding:5%;
    text-align: center; 
    border-bottom: 0.1vw solid rgb(199, 196, 196);
    border-left: 1vw solid rgb(199, 196, 196);
    
}

td:hover, li:hover, .picAndDesc:hover, .subbreed:hover, .activeBreed {
    background-color: rgb(199, 196, 196);
    box-shadow: 0 0 5px rgb(1, 3, 3);
    cursor: pointer;
}
.masterBreed {
    position: relative;
}
.masterBreed:hover .hiddenSubbreeds {
    display: block;
}
.subbreed{
    animation-name: zoom;
    animation-duration: 0.1s;
    font-size:1vw;
    padding:5%;
    text-align: center;
    background-color: white;
    border:0.1vw solid grey;
  

}
.hiddenSubbreeds {  
    width:100%;
    left:100%;
    top:0px;
    position: absolute;
    display: none;
    z-index: 1;
 //   border: 1px solid red;
    }
/**************************************************************************left column****************************************************************************/
/**************************************************************************main area****************************************************************************/
#mainArea {
    width:85%;
    float:left;
// border: 0.1vw  solid rgb(0, 113, 128);
}
#column0, #column1, #column2 {
    display:inline-block;
  //  border: 0.1vw solid rgb(19, 122, 28);
    width:33.33%;  
    float:left;
}
.picAndDesc{
    width: 90%;
    border: 0.1vw solid black;
 
 // background-color:  rgb(199, 196, 196);
 
    margin:5% 0% 0% 5%;
    float:left;   
}
#mainArea .picAndDesc img {
    width: 100%; 
    padding:1%;
   
    border-bottom: 0.1vw solid black;
    
  }
.description {
    
    text-align: center;
    color: black;
    
}
                                                /*********************************pagination*****************************/
#pagination {
    width: 100%;
    padding:1%;
    visibility: hidden;
  //  border: 1px solid red;
    float:left;
    
}

#pagination ul {
    font-size: 1vw;
    text-align:center;
    padding:0.1vw;
    border: 0.1vw 0vw 0.1vw 0vw solid black;
    width:20%;
    margin-left:30%;
}
#paginationBack, #paginationNext {
    padding:1%;
    width:20%;
    margin:3%;
    background-color: rgb(232, 233, 170);
    display:inline-block;
}
#currentPage {
    display:inline;
}
#paginationBack {
    visibility: hidden;
}
                                                /*********************************pagination*****************************/
                                                /*********************************hidden window*****************************/
#hiddenWindow {
   // border:1px solid yellow;

    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */

    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

#biggerPicAndDesc {
  

  // border: 2px solid green;
    position: absolute;
    top: 50%;
    left: 50%;      
    transform: translate(-50%,-50%); 


}


#biggerPic {
    max-width:100%;
 
}
#caption {
    display: block;
    text-align: center;
    color: #ccc;
    padding: 1vw 0vw;
    background-color: black;
}
#prevPic {
  //  border:1px solid red;
    text-align:left;
    font-size: 3vw;
   
    display: flex;  /* this for lines align vertically my arrow */
   justify-content:center;
    align-content:center;
    flex-direction:column;
    
    background-color: transparent;
    position: absolute;
    top: 0%;
    left: -5vw;
    color: white;
}

#nextPic {
  //  border:1px solid red;

    text-align:right;
    font-size: 3vw;
    
    display: flex; /* this for lines align vertically my arrow */
   justify-content:center;
    align-content:center;
    flex-direction:column;

    background-color: transparent;
    position: absolute;
    top: 0%;
    right: -5vw;
    color: white;
}
#close {
 //   border: 1px solid green;
    position: absolute;
    top: 3%;
    right: 5%;
    color: #f1f1f1;
    font-size: 3vw;
    font-weight: bold;
    transition: 0.3s;
}

#close:hover,
#close:focus,
#prevPic:hover,
#prevPic:focus, 
#nextPic:hover,
#nextPic:focus{
    color:  rgb(232, 233, 170);
    text-decoration: none;
    cursor: pointer;
}
                                                /*********************************hidden window*****************************/
                                                /*********************************contact us*****************************/
#formAndMap {
  //  border:1px solid red;
 
}
#contactForm {
    font-size:1vw;
  //border:1px solid red;
    margin:2% 0 0 8%;
    width:40%;
    float: left;
    
}
#fullName, #subject, #email,#submitContactForm,#message {
    font-size:1vw;
}
#map {
     float:left;
    margin:2.5%;
  //  border: 0.1vw solid black;
    padding:2vw;
    width: 40%;
    height:50vh;
   

}
                                                /*********************************contact us*****************************/
                                                /*********************************log in *****************************/

#loginFieldset, #registerFieldset {
    font-size:1vw;
    margin: 0vw 0vw 4% 15% ;
    border:0.1vw solid grey;
    float:left;
    width:25%;
}
#loginFieldset input ,#logInSubmit, #registerSubmit,#registerFieldset input {
    font-size:1vw;
    
}
#logInSubmit, #registerSubmit{
    margin-left: 0.5%;
    width:26%;
}
.field {
    font-size:1vw;
  //  border: 1px solid gold;
    width:100%;
    margin:0.5%;
    
}
#placeForMessage h1, h3 {
    border: 1px solid transparent;

}
#placeForMessage {
    visibility:hidden;
    color:rgb(90, 206, 90);
    margin: auto;
    font-size:1vw;
    text-align: center;
    width: 30%;
    
   // border: 1px solid red;
}
                                                 /*********************************log in *****************************/
/**************************************************************************main area****************************************************************************/
/**************************************************************************footer****************************************************************************/

.footer {
    font-size: 1vw;
   //  border: 0.1vw solid black;
       float:left;
      width:98%;
       text-align:center;

   }
/**************************************************************************footer****************************************************************************/
