@font-face {
    font-family: webLogo;
    src: url(GreatVibes-Regular.ttf);
}
header {
    font-family: webLogo ;
}
#nav {
    background-image: url(paws.png);
    background-size:63px;  
}
main div ul:hover, #searchHints:hover,header div h1:hover,main img:hover,.carousel-control-next:hover,.carousel-control-prev:hover {
    cursor: pointer;   
}
main img:hover {
   box-shadow: 0 0 5px rgb(1, 3, 3);
}
.subbreed:hover {
    background-color: rgb(243, 243, 247)
}
#leftColumn * {
    border-bottom:1px solid transparent;
}
#hiddenWindow {
    background-color: rgba(5, 2, 2, 0.95);
    position: fixed;
    overflow: auto;
    top:0;
    z-index: 100;
}
#searchHints {
    position: absolute;
    z-index: 99;
}
#placeForMessage {
    display:none;
}
@media only screen and (max-width: 576px) {
    header div h1 {
        font-size:10vw;
    }
    #inputWrapper {
        width:100%;
    }
    nav div button {
        margin:0px;
    }
    #hide {
        display:none;
    }  
}
@media only screen and (min-width: 577px) {
    header div h1 {
        font-size:6vw;
    }
}
#column1,#column2,#column3 {
    padding:1%;
}


.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}
a:link,a:hover,a:active,a:visited {
    text-decoration: none;
    color:black;
}