
{% extends "layout.html" %}                                                                 <!-- extend layout-->
{% block body %}
{% for column in dogs|slice(3) %}                                                           <!-- divide received data between 3  equal columns-->
<div id="column{{loop.index}}" class="col-sm-4 ">
{% for dog in column  %}
<div  class='border my-1 my-md-4 text-center text-capitalize'>
    <img class='img-fluid w-100 img-thumbnail border border-0' onClick="enlargePix('{{dog}}')" src={{dog}}>
    {% set description = dog| replace("https://images.dog.ceo/breeds/","") %}               <!-- extract breed name form a link-->
    {% set description = description.split("/") %}
    <div class='bg-light'>{{description[0]}}</div>
</div>
{% endfor %}
</div>
{% endfor %}
{% endblock %}

{% block pagination %}
{{ pagination.links }}                                                                     <!-- add pagination ( send by app )-->
{% endblock pagination %}


{% block hiddenWindow %}
<div id='hiddenWindow' class='container-fluid h-100 invisible d-flex justify-content-center'>   <!-- code for enlarged picture  -->
    <div id='biggerPixWrapper' class='text-center text-capitalize align-self-center carousel slide'>
        <div class='carousel-control-next' onClick='carousel("next","{{dogs}}")' ><span class="carousel-control-next-icon"></span></div>
        <div class='carousel-control-prev' onClick='carousel("prev","{{dogs}}")'><span class="carousel-control-prev-icon"></span></div>
        <div class='bg-light'>
            <button type="button" onClick='closeHiddenWindow()' class="close text-white">&times;</button>
        </div>
        <img id='largePix' class='img-fluid img-thumbnail border border-0' >
        <div id='largePixLabel' class='bg-light'></div>
    </div>     
</div>
{% endblock hiddenWindow %}