<!DOCTYPE html>
<html style="height:100%">
<head>
    <meta charset="UTF-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{url_for('static', filename='tab_icon.png')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
    <title>World of Dogs</title>
</head>
<body style="height:100%">
        <div class="container-fluid h-5 text-right">                           
            <!-- Display username (send by app) and change button label if user logged in-->                     
            <label id='logInLabel'>{{session["username"]}}</label>                                  
            <a href="{{url_for('login')}}"><button type="button" class="btn btn-outline-primary m-2">
                    {% if 'username' in session %}                                                  
                    Log out 
                    {% else %}
                    Log in / Sign Up
                    {% endif %}
                    </button></a>
        </div>                                                                                      
        <header class="row align-items-center no-gutters">                                          
        <div class="col-sm-6  text-center text-sm-right"  ><a href="{{url_for('index')}}"><h1>World of Dogs</h1></a></div>
        <div class="col-sm-6 " ><img class="img-fluid" src="{{url_for('static', filename='header.jpg')}}" ></div>
    </header>                                                                                       
    <nav id="nav" class="container-fluid row no-gutters">                                           
        <div class="col-sm-6 d-flex justify-content-start">
                <a href="{{url_for('index')}}"><button type="button" class="bg-white btn btn-outline-primary my-2 m-sm-2">Home</button></a>
                <a href="{{url_for('contact')}}"><button type="button" class="bg-white btn btn-outline-primary m-2">Contact</button></a>
            </div>      
    </nav>                                                                                          
    {% if result_msg!="" %}
    <div class="alert alert-info w-50 text-center container">
        <!-- Place for messages from app -->
        {{result_msg}}                                                                             
    </div>
    {% endif %}
    <main class='container-fluid row no-gutters h-75 w-100'>                                        
        <div class="col-md-6">
            <form class="form-inlineb bg-light border border-light my-5 p-2" action="{{url_for('contact')}}" method="post">
            <legend class='text-center'>Contact Us</legend>
                <label for="text">Full name</label>
                <input type="text" class="form-control w-50" name="fullName" required>
                <label for="text">Subject</label>
                <input type="text" class="form-control w-50" name="subject" required>
                <label for="email">Email address:</label>
                <input type="email" class="form-control w-50" name="email" required>
                <label for="textarea">Your message...</label>
                <textarea  class='w-100' name="message"  required></textarea>
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="col-md-6 h-75 my-5 border border-light " id='map'>          
            google map      
        </div>
    </main>                                                                                          
<script>                                                                   
            function myMap() {
                var mapCanvas = document.getElementById("map");                              
                var myCenter =new google.maps.LatLng(51.508742,-0.120850); 
                var mapOptions = {                                         
                    center: myCenter , zoom: 5
                };
                //Create map with my options
                var map = new google.maps.Map(mapCanvas, mapOptions);        
                var marker = new google.maps.Marker({                       
                    position: myCenter,
                    animation: google.maps.Animation.BOUNCE
                });
                //Set marker on map
                marker.setMap(map);                                        
            }                                                              
            </script> 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUyPXkEvv89n_s4wfTTBbLPYocbCPMhrs&callback=myMap"></script>      <!-- google maps API key------remove-->
<script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>